 <%- include ../templates/sidenav.ejs %>

 <div class="ui pusher">
     <div class="ui container">
        <h1 class="ui dividing header">Área do Gestor</h1>
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="denuncias">Denúncias</a>
            <a class="item" data-tab="orgaos">Órgãos</a>
            <a class="item" data-tab="den_des">Denúncias-Desordens</a>
            <a class="item" data-tab="den_org">Denúncias-Órgãos</a>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="denuncias">
            <table id="desordemGestor" class="tablesorter ui celled table uitable">
                <thead>
                    <tr class="center aligned">
                        <th>ID</th>
                        <th>Tipo</th>
                        <th>Status</th>
                        <th>Descrição</th>
                        <th>Usuário</th>
                    </tr>
                </thead>
                <tbody>
					<% for(var i = 0; i < denuncias.length; i++) { %>
					
					<tr class="center aligned">
						<td><%= denuncias[i].den_iddenuncia %></td>
                        <td><%= denuncias[i].des_descricao %></td>
                        <td><%= denuncias[i].den_status %></td>
                        <td><%= denuncias[i].den_descricao %></td>
                        <td><%= denuncias[i].usu_login %></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div class="ui bottom attached tab segment" data-tab="orgaos">
            <table id="orgaosGestor" class="tablesorter ui celled table uitable">
                <thead>
                    <tr class= "center aligned">
                        <th>Órgão</th>
                        <th>Número de Denúncias Registradas</th>
                        <th>Número de Técnicos Registrados</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < orgaos.length; i++) { %>
                    <tr class="center aligned">
                        <td><%= orgaos[i].org_nome %></td>
                        <td><%= orgaos[i].count_den %></td>
                        <td></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div class="ui bottom attached tab segment" data-tab="den_des">
            <canvas id="den_des"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="den_org">
            <canvas id="den_org"></canvas>
        </div>
     </div>
 </div>
<br><br>
<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../js/semantic.js"></script>
<script type="text/javascript" src="../../js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="../../js/gestor/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    var ctx_den_des = document.getElementById('den_des').getContext('2d');
    var ctx_den_org = document.getElementById('den_org').getContext('2d');

    var orgaos = <%-JSON.stringify(orgaos)%>;
    var denuncias  = <%-JSON.stringify(denuncias)%>;
    var desordens = <%-JSON.stringify(desordens)%>;
    var ctipos = [];
    // console.log("orgaoresult : ");

    
    desordens.forEach(function(desordem){
        ctipos.push([desordem.des_iddesordem, desordem.des_descricao, 0]);
    })
    
    denuncias.forEach(function (denuncia){
        for(var i =0; i < ctipos.length; i++){
            if(denuncia.den_iddesordem == ctipos[i][0]){
                ctipos[i][2]++;
            }
        }
    })

    var chart_desordens = [];
    var chart_qtd = [];
    var chart_orgaos = [];
    var chart_qtd_orgaos = []
    
    for(var i =0; i < ctipos.length; i++){
        chart_desordens.push(ctipos[i][1]);
        chart_qtd.push(ctipos[i][2]);
    }

    orgaos.forEach(function(orgao){
        chart_orgaos.push(orgao.org_nome);
        chart_qtd_orgaos.push(orgao.count_den);
    })

    new Chart(ctx_den_des, {
        type: 'pie',
        data: {
        labels: chart_desordens,
        datasets: [{
            label: "Quantidade de Denúncias",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: chart_qtd
        }]
        },
        options: {
            title: {
                display: true,
                text: 'Porcentagem de Denúncias relacionadas aos Órgãos'
            }
        }
    });

    new Chart(ctx_den_org, {
        type: 'pie',
        data: {
        labels: chart_orgaos,
        datasets: [{
            label: "Quantidade de Denúncias",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: chart_qtd_orgaos
        }]
        },
        options: {
            title: {
                display: true,
                text: 'Porcentagem de Denúncias relacionadas aos Órgãos'
            }
        }
    });
</script>